body {
    font-family: 'Exo', sans-serif;
    margin: 0;
    display: flex;
  }
  .sidebar {
    width: 250px;
    background-color: #2c2c2c;
    height: 100vh;
    padding-top: 20px;
    color: #fff;
  }
  .sidebar h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  .sidebar ul li {
    padding: 15px 20px;
  }
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .sidebar ul li a:hover {
    background-color: #ff6600;
    border-radius: 4px;
  }
  .sidebar ul li a i {
    margin-right: 10px;
  }
  .main-content {
    flex-grow: 1;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }